<div *ngIf="chartReady" class="chart-wrapper">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>

  <canvas baseChart
  [datasets]="lineChartDataPrediction"
  [labels]="lineChartLabelsPrediction"
  [options]="lineChartOptionsPrediction"
  [colors]="lineChartColorsPrediction"
  [legend]="lineChartLegend"
  [chartType]="lineChartType"
  [plugins]="lineChartPlugins">
  </canvas>

</div>
