<div class="container mt-5" id="container">
  <div class="form-group">
    <h2 >IoT Application</h2>
  </div>
  <form #f="ngForm" (ngSubmit)="Login(f)">
    <div class="form-group">
      <input type="text" name="username" class="form-control" ngModel required #username="ngModel" id="username" placeholder="Enter username" >
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" ngModel required #password="ngModel" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Sign In</button>
    <p>Don't have an account ?</p>
    <a routerLink="/register"><button class="ghost" class="btn btn-primary" id="signUp">Sign Up</button> </a>
  </form>
</div>
