<div class="container d-flex justify-content-center">
  <div class="weather">
      <div class="row">
          <div class=" col-md-6">
              <div class="card"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-thermometer" viewBox="0 0 16 16">
                <path d="M8 14a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                <path d="M8 0a2.5 2.5 0 0 0-2.5 2.5v7.55a3.5 3.5 0 1 0 5 0V2.5A2.5 2.5 0 0 0 8 0zM6.5 2.5a1.5 1.5 0 1 1 3 0v7.987l.167.15a2.5 2.5 0 1 1-3.333 0l.166-.15V2.5z"/>
              </svg>
                  <div class="title">
                      <p>Bucuresti - Apartament Stoian</p>
                  </div>
                  <div class="temp mt-5"><p *ngIf ="current_temperature == -99">Not connected</p>
                                         <p *ngIf ="current_temperature != -99">Temperature: {{current_temperature}}<sup>&deg;</sup> </p>
                                        </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card"> <span class="icon"><img class="img-fluid" width="32" height="32" src="https://cdn.iconscout.com/icon/free/png-512/humidity-forecast-hydration-precipitation-temperature-weather-38924.png" /></span>
                  <div class="title">
                      <p>Bucuresti - Apartament Stoian</p>
                  </div>
                  <div class="temp mt-5">
                    <p *ngIf ="current_humidity == -99">Not connected</p>
                    <p *ngIf ="current_humidity != -99">Humidity: {{current_humidity}}<sup>%</sup></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
